body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#splash {
  margin: 0;
  padding: 0;
  background-image: url(../images/fogforest.jpeg);
  height: 600px;
  width: 100%;
  background-size: cover;
  background-attachment: scroll;
}

#splash h1 {
  margin: 0;
  padding: 0;
  font-weight: 100;
  text-align: center;
  padding-top: 185px;
  color: #fff;
  font-size: 35px;
}

.try-us {
  text-align: center;
  height: 30px;
  width: 120px;
  background-color: transparent;
  border-radius: 10px;
  margin-left: 45%;
  margin-top: 40px;
  border: 1px solid #fff;
  color: #fff;
}

.try-us:hover {
  background-color: #aaaaaa;
  transition: 1s
}

.discover p {
  width: 215px;
  color: #fff;
  font-weight: 100;
  margin-top: 20px;
  margin-left: 41.5%;
}

/*---- NAVIGATION SECTION -----*/

#navigation {
  height: 90px;

}

#navigation ul {
  /*display: inline;*/
  margin-left: 30%;
}

#navigation li {
  display: inline-block;
  text-decoration: none;
  padding-right: 70px;
  padding-top: 35px;
}

#navigation a {
  color: #004231;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
}

#navigation a:hover {
  color: #c95e5e;
  transition: 1s;
}





/* ---- NEW DESIGN SECTION ----*/

#design-container {
  margin: 0;
  padding: 0;
}

.design-left {
  width: 65%;
  height: 400px;
  float: left;
  background-color: #eaeaea;
}

.design-left p {
  width: 80%;
  margin-left: 20px;
  margin-top: 40px;
}

#buttonish {
  background-color: transparent;
  border: 1px solid #1b997f;
  width: 170px;
  height: 50px;
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 30px;
  text-align: center;
}

#buttonish:first-of-type {
  margin-left: 20%;
}

#buttonish:hover {
  background-color: #1b997f;
  color: #fff;
  transition: 1s;
}

.triangle {
  height: 200px;
  width: 300px;
  border-style: solid;
  border-width: 0 150px 306px 150px;
  border-color: transparent transparent #fff transparent;
  margin-left: 80px;
  overflow: none;
  z-index: -3;
}

.hidden-right {
  width: 95%;
  height: 400px;
  float: left;
}

.hidden-right h3 {
  color: #c95e5e;
  margin-top: -280px;
  margin-left: 15px;
  font-weight: 100;
}


.hidden-right p {
  color: #c95e5e;
  margin-left: 15px;
  margin-right: 10px;
  padding-top: 20px;
  font-weight: 100;
}

.design-right {
  width: 35%;
  height: 400px;
  float: right;
  background-color: #c95e5e;
}

.design-right:hover {
  background-color: rgba(201,94,94,0.1);
  transition: 1s;
}

.design-right h2 {
  font-weight: 100;
  text-align: right;
  color: #fff;
  margin-right: 5px;
}


/*----- FEATURES SECTION -----*/

#features {
  width: 100%;
  height: 400px;
  margin-top: 800px;
  background-color: #eaeaea
}


/*------ CIRCLE SECTION ------*/

#circle-container {
  margin-top: -400px;
  z-index: 10;
}

.circle {
  width: 25%;
  background-color: #fff;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  margin-top: 100px;
  position: absolute;
  margin-left: 5%;
}

/*.circle:first-child {
  margin-left: 5%;
}*/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	/*margin-top: -4000px;*/
  height: 500px;
  width: 100%;
  /*margin-top: 400px;*/
  background-image: url(../images/darkleaf.jpeg);
  background-size: cover;
  background-attachment: fixed;
  margin: none;
  margin: auto;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col h1 {
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  padding-top: 12px;
  margin-left: 40%;

}

.col p {
  font-weight: 100;
  text-align: center;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

.col h1 {
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 10px;
}

.col p {
  margin-top: 0;
  padding-left: 10px;
  padding-right: 15px;
  margin- bottom: 15px;
  font-weight: 100;
}


/* TESTIMONIALS SECTIN ----*/

#testimonials {
  width: 100%;
  height: 850px;
  width: 75%;
  margin: auto;
  background-color: #eaeaea;
  margin-top: 0;
}

#testimonials h1 {
  text-align: center;
  font-weight: 100;
  color: #c95e5e;
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 30px;
}

#testimonials h5 {
  text-align: center;
  margin-top: -45px;
  margin-left: 170px;
}

.user {
  background-color: #c95e5e;
  height: 170px;
  width: 170px;
  float: left;
  margin-right: 60px;
  margin-left: 45px;
  margin-top: 25px;
  border-radius: 5px;
  float: left;
}

.user img {
  height: 150px;
  width: 150px;
  padding-top: 10px;
  padding-left: 18px;
  /*margin-right: 50px;*/
}

.user-last {
  margin-top: 50px;
}

.user-test {
  height: 210px;
}

.user-test p {
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.p-custom {
  padding-top: 15px;
  margin: 0;
}

.p-custom-center {
    padding-top: 35px;
    padding-right: -500px;
}


/*------ CONTACT SECTION -------*/

#contact {
  height: 400px;
  width: 100%;
  margin: auto;
  background-color: #1c1c1c;
}

.contact-container {
  float: left;
}

.contact-container input:first-of-type {
  margin-top: 50px;
  margin-bottom: 5px;
}

.contact-container input {
  margin-left: 130px;
  width: 430px;
  border-radius: 10px;
  border: 1px solid #004231;
  height: 30px;
}

.contact-container textarea {
  margin-top: 10px;
  margin-left: 130px;
  border-color: #004231;
  border-radius: 10px;
}

.contact-container button {
  margin-left: 130px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  color: #eaeaea;
}

.contact-container button:hover {
  color: #eaeaea;
  border-color: #eaeaea;
}

.reach-out h2 {
  padding-top: 150px;
  padding-right: 110px;
  margin-top: 0;
  font-weight: 100;
  text-align: right;
  color: #eaeaea;
}
